



<div class="container">
    <h1 class="text-center mt-5 mb-5">Attendance Details</h1>
</div>
 <div class="container">
     <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-6">


            
                <table class="table" *ngFor="let i of d">
                        <tr class="form-group">
                            <td>Roll No</td>
                            <td>:</td>
                            <td>{{i.no}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Name</td>
                                <td>:</td>
                                <td>{{i.name}}</td>
                        </tr>
                        <tr class="form-group">
                            <td>Username</td>
                            <td>:</td>
                            <td>{{i.username}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Course</td>
                                <td>:</td>
                                <td>{{i.course}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Branch</td>
                                <td>:</td>
                                <td>{{i.branch}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Monthly Attendance</td>
                                <td>:</td>
                                <td>{{i.monthly}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Overall Attendance</td>
                                <td>:</td>
                                <td>{{i.overall}}</td>
                        </tr>
                </table>

          


<!--
            

<div class="container">
    
    <table class="table">
       <thead>
           <th>Roll No</th>
           <th>Name</th>
           <th>Course</th>
           <th>Branch</th>
           <th>Monthly Attendance</th>
           <th>Weekly Attendance</th>
           
           
       </thead>
       <tr *ngFor="let i of d">
           <td>{{i.no}}</td>
           <td>{{i.name}}</td>
           <td>{{i.course}}</td>
           <td>{{i.branch}}</td>
           <td>{{i.monthly}}</td>
           <td>{{i.weekly}}</td>
          
       </tr>
    </table>

   -->

 </div>




         </div>
         <div class="col-md-3"></div>
     </div>
       
    

