<div class="container mt-5">


     <div class="row">
         <div class="col-md-3"></div>

          <div class="col-md-6 mt-5">
              <form #ref="ngForm" (ngSubmit)="subNotifications(ref.value)">
                <div>
                    <input type="text" placeholder="Enter Notifications" name="notifications" class="form-control" ngModel>
                     
                     
                     <div class="text-center mt-3">
                    <button class="btn btn-info" >Submit</button>
                    
                    </div>
                </div> 
                </form>
          </div>
      

          <div class="col-md-3"></div>
    </div>    

</div>
