<div class="container">
        <h1 class="text-center mb-4 mt-4">Login</h1>
       <div class="row">
         <div class="col-md-4">
            
         </div>
         <div class="col-md-4 x">
           
             <form #ref="ngForm" (ngSubmit)="submitData(ref.value)">


                        <div class="row mt-3">
               
                                        <div class="col-md-6">
                                             <div class="form-check">
                                                 <label for="m" class="form-check-label">
                                                         <input type="radio" name="user" id="m" value="admin"  class="form-check-input" ngModel>Admin
                                                         
                                               </label>
                                             
                                              </div>
                         
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                 <label for="n" class="form-check-label">
                                                         <input type="radio" name="user" id="n" value="student" class="form-check-input" ngModel>Student
                                                        
                                                </label>
                                             
                                            </div>
                                        </div>
                                      </div>

                    <div class="row form-group mt-4">
                        <div class="col-md-6">
            
                               <label>Username</label>
                       </div>
                       <div class="col-md-6">
                            <input type="text" class="form-control" #refname="ngModel" required minlength="5" name="username" ngModel>

                            <div *ngIf="refname.invalid&&(refname.dirty||refname.touched)" class="text-danger">
                                <div *ngIf="refname.errors.required">
                                     <p>*Username is required</p>
                                </div>
                                <div *ngIf="refname.errors.minlength">
                                        <p>*Username must be atleast 5chacters long</p>
                                   </div>
                           </div>
                         </div>
                    </div>
                       <div class="row form-group">
                            <div class="col-md-6">
                
                                   <label>Password</label>
                           </div>
                           <div class="col-md-6">
                                  <input type="password" class="form-control" #refname1="ngModel" required minlength="5" name="password" ngModel>
                            
                                  <div *ngIf="refname1.invalid&&(refname1.dirty||refname1.touched)" class="text-danger">
                                        <div *ngIf="refname1.errors.required">
                                             <p>*Password is required</p>
                                        </div>
                                        <div *ngIf="refname1.errors.minlength">
                                                <p>*Password must be atleast 5chacters long</p>
                                           </div>
                                   </div>
                           </div>
                        </div>
                        
                   
                    <div class="text-center form-group">
                            <button class="btn btn-dark" type="submit">Login</button>
                    </div>
            
        </form>

        <div class="text-center">
                <a routerLink="/home/forgotpwd">forgot password</a>
        </div>
            
        </div>
        <div class="col-md-4">
    
        </div>
       </div>
       
    </div>
    
