
<div class="row" style="margin:auto;">
        <div class="col-md-4"></div>
   
   
        <div class="container ml-auto col-md-4 mt-5 mb-5 text-center">
             <input type="text" name="search" class="form-control" placeholder="Search by username/rollno/name" [(ngModel)]="searchTerm">
                   
        </div>
   
        <div class="col-md-4"></div>
   </div>




<h1 class="text-center mb-4 text-danger mt-3">Marks Details</h1>

<div class="row" style="margin:auto;">

        <div class="col-md-2"></div>
        <div class="col-md-8">
        


<div class="container pt-4 pb-3">
       
        <form #ref="ngForm" (ngSubmit)="submitData(ref.value)">
            
            <div class="row form-group">
                <div class="col-md-5 text-center">
                        <label>Student RollNo </label>
                </div>
                <div class="col-md-7">
                        <input type="number" class="form-control" name="no" #refname="ngModel" required ngModel>
                        <div *ngIf="refname.invalid&&(refname.dirty||refname.touched)" class="text-danger">
                                <div *ngIf="refname.errors.required">
                                     <p>*Rollno is required</p>
                                </div>
                           </div>
                </div>
            </div>
            <div class="row form-group">
                    <div class="col-md-5 text-center">
                            <label>Student Name </label>
                    </div>
                    <div class="col-md-7">
                            <input type="text"  class="form-control" #refname1="ngModel" required minlength="5" name="name" ngModel>
                            <div *ngIf="refname1.invalid&&(refname1.dirty||refname1.touched)" class="text-danger">
                                <div *ngIf="refname1.errors.required">
                                     <p>*Name is required</p>
                                </div>
                                <div *ngIf="refname1.errors.minlength">
                                        <p>*Name must be atleast 5chacters long</p>
                                   </div>
                           </div>
                        </div>
             </div>
             <div class="row form-group">
                <div class="col-md-5 text-center">
                        <label>User Name </label>
                </div>
                <div class="col-md-7">
                        <input type="text"  class="form-control" name="username" ngModel #refname2="ngModel" required minlength="5">
                        <div *ngIf="refname2.invalid&&(refname2.dirty||refname2.touched)" class="text-danger">
                                <div *ngIf="refname2.errors.required">
                                     <p>*Username is required</p>
                                </div>
                                <div *ngIf="refname2.errors.minlength">
                                        <p>*Username must be atleast 5chacters long</p>
                                   </div>
                           </div>
                </div>
             </div>
             <div class="row form-group">
                    <div class="col-md-5 text-center">
                            <label>Course</label>
                    </div>
                    <div class="col-md-7">
                        <select name="course" id="" ngModel class="form-control">
                                <option [value]="course" *ngFor="let course of courses">{{course}}</option>
                                               </select> 
                    </div>
             </div>
             <div class="row form-group">
                    <div class="col-md-5 text-center">
                            <label>Branch</label>
                    </div>
                    <div class="col-md-7">
                        <select name="branch" id="" ngModel class="form-control">
                                <option [value]="branch" *ngFor="let branch of branches">{{branch}}</option>
                           </select> 
                    </div>
             </div>
             <div class="row form-group">
                    <div class="col-md-5 text-center">
                            <label>Total Marks</label>
                    </div>
                    <div class="col-md-7">
                            <input type="number"  class="form-control" name="total" ngModel>
                    </div>
             </div>
             <div class="row form-group">
                    <div class="col-md-5 text-center">
                            <label>Marks Gained</label>
                    </div>
                    <div class="col-md-7">
                            <input type="number"  class="form-control" name="gain" ngModel>
                    </div>
             </div>
             
             <div class="form-group text-center">
                    <button class="btn btn-danger" type="submit">Submit</button>
             </div>
        </form>
    
    
    </div>

</div>   

    <div class="col-md-2"></div>
</div>




<div *ngIf="b" class="mt-5">
        <form #ref=ngForm (ngSubmit)="onSubmit(ref.value)">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Roll No</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="no" class="form-control" [(ngModel)]=objectToModify.no [value]="no" readonly>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                            <label for="">Student Name</label>
                       </div>
                       <div class="col-md-6">
                        <input type="text" name="name" class="form-control" [(ngModel)]=objectToModify.name [value]="name">
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">User Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="username" class="form-control" [(ngModel)]=objectToModify.username [value]="username" readonly>
                    </div>
                </div>
         
               <div class="row">
                      <div class="col-md-6">
                            <label>Course</label>
                        </div>     
                  
                    <div class="col-md-6">
                      <select name="course" id="" [(ngModel)]=objectToModify.course class="form-control">
            <option [value]="course" *ngFor="let course of courses">{{course}}</option>
                       </select>  
                    </div>
               </div>
              <div class="row">
                      <div class="col-md-6">
                            <label>Branch</label>
                        </div>     
                   
                    <div class="col-md-6">
                      <select name="branch" id="" [(ngModel)]=objectToModify.branch class="form-control">
                            <option [value]="branch" *ngFor="let branch of branches">{{branch}}</option>
                       </select>  
                    </div>
              </div>

              <div class="row">
                     <div class="col-md-6">
                        <label>Total Marks</label>
                     </div>
                     <div class="col-md-6">
                        <input type="number"  class="form-control" name="total" [value]="total" [(ngModel)]=objectToModify.total>
                     </div>
              </div>
              <div class="row">
                   <div class="col-md-6">
                        <label>Marks Gained</label>
                </div>
                <div class="col-md-6">
                        <input type="number"  class="form-control" name="gain" [value]="objectToModify.gain" [(ngModel)]=objectToModify.gain>
                </div>
              </div>

              <div class=" text-center form-group mt-3">
                     <button class="btn btn-dark" type="submit">Save</button>
                </div>
        </form>
</div>




<table class="table table-responsive">
        <thead>
                <th>Roll No</th>
                <th>Name</th>
                <th>Username</th>
                <th>Course</th>
                <th>Branch</th>
                <th>Total Marks</th>
                <th>Gained Marks</th>
        </thead>
        <tr *ngFor="let obj of y | search:searchTerm">
                <td>{{obj.no}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.username}}</td>
                <td>{{obj.course}}</td>
                <td>{{obj.branch}}</td>
                <td>{{obj.total}}</td>
                <td>{{obj.gain}}</td>
                <td>
                     <button (click)="deletingmarks(obj.name)">Delete</button>
                </td>
                <td>
                    <button (click)="editingmarks(obj)">Edit</button>
                </td>
        </tr>
</table>