
<div class="row" style="margin:auto;">
        <div class="col-md-4"></div>
   
   
        <div class="container ml-auto col-md-4 mt-5 mb-5 text-center">
             <input type="text" name="search" class="form-control" placeholder="Search by username/rollno/name" [(ngModel)]="searchTerm">
                   
        </div>
   
        <div class="col-md-4"></div>
   </div>




<h1 class="text-center mb-5 text-danger mt-5">Fee Status</h1>
<div class="row" style="margin:auto;">

      <div class="col-md-2"></div>

   <div class="col-md-8">


     <div class="container">
    
       <form #ref="ngForm" (ngSubmit)="submitedData(ref.value)">
        
        <div class="row form-group pt-4">
            <div class="col-md-5 text-center">
                    <label>Student RollNo </label>
            </div>
            <div class="col-md-7">
                    <input type="number" class="form-control" name="no" ngModel #refname="ngModel" required>
                    <div *ngIf="refname.invalid&&(refname.dirty||refname.touched)" class="text-danger">
                        <div *ngIf="refname.errors.required">
                             <p>*Rollno is required</p>
                        </div>
                   </div>
            </div>
        </div>
        <div class="row form-group">
                <div class="col-md-5 text-center">
                        <label>Student Name </label>
                </div>
                <div class="col-md-7">
                        <input type="text"  class="form-control" name="name" #refname1="ngModel" required minlength="5" ngModel>
                        <div *ngIf="refname1.invalid&&(refname1.dirty||refname1.touched)" class="text-danger">
                                <div *ngIf="refname1.errors.required">
                                     <p>*Name is required</p>
                                </div>
                                <div *ngIf="refname1.errors.minlength">
                                        <p>*Name must be atleast 5chacters long</p>
                                   </div>
                           </div>
                </div>
         </div>
         <div class="row form-group">
                <div class="col-md-5 text-center">
                        <label>User Name </label>
                </div>
                <div class="col-md-7">
                        <input type="text"  class="form-control" name="username" #refname2="ngModel" required minlength="5" ngModel>
                
                        <div *ngIf="refname2.invalid&&(refname2.dirty||refname2.touched)" class="text-danger">
                                <div *ngIf="refname2.errors.required">
                                     <p>*Username is required</p>
                                </div>
                                <div *ngIf="refname2.errors.minlength">
                                        <p>*Username must be atleast 5chacters long</p>
                                   </div>
                           </div>
                </div>
         </div>
         <div class="row form-group">
                <div class="col-md-5 text-center">
                        <label>Total Fee</label>
                </div>
                <div class="col-md-7">
                        <input type="number"  class="form-control" name="total" ngModel>
                </div>
         </div>
         <div class="row form-group">
                <div class="col-md-5 text-center">
                        <label>Paid Fee</label>
                </div>
                <div class="col-md-7">
                        <input type="number"  class="form-control" name="paid" ngModel>
                </div>
         </div>
         <div class="row form-group">
                        <div class="col-md-5 text-center">
                                <label>Pending Fee</label>
                        </div>
                        <div class="col-md-7 text-dark">
                                <input type="number"  class="form-control" name="pending" ngModel>
                        </div>
                 </div>
        
         <div class="form-group text-center pb-4">
                <button class="btn btn-info" type="submit">Submit</button>
         </div>
    </form>


</div>
</div>

<div class="col-md-2"></div>

</div>



<div *ngIf="b">
        <form #ref=ngForm (ngSubmit)="onSubmit(ref.value)">
                <div class="row">
                        <div class="col-md-6">
                          <label for="">Roll No</label>
                        </div>
                      <div class="col-md-6">
                        <input type="text" name="no" [(ngModel)]=objectToModify.no [value]="no" class="form-control" readonly>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Student Name</label>
                    </div>   
                    <div class="col-md-6">
                        <input type="text" name="name" [(ngModel)]=objectToModify.name [value]="name" class="form-control">
                    </div>    
                </div>
                <div class="row">
                        <div class="col-md-6">
                           <label for="">User Name</label>
                      </div>
                      <div class="col-md-6">
                        <input type="text" name="username" [(ngModel)]=objectToModify.name [value]="name" class="form-control" readonly>
                     </div> 
                </div>
              <div class="row">
                <div class="col-md-6">
                        <label>Total Fee</label>
                </div>
                <div class="col-md-6">
                        <input type="number"  class="form-control" name="total" [value]="total" [(ngModel)]=objectToModify.total>
                </div>
         </div>
         <div class="row">
                <div class="col-md-6">
                        <label>Paid Fee</label>
                </div>
                <div class="col-md-6">
                        <input type="number"  class="form-control" name="paid" [value]="paid" [(ngModel)]=objectToModify.paid>
                </div>
         </div>
         <div class="row">
                <div class="col-md-6">
                        <label>Pending Fee</label>
                </div>
                <div class="col-md-6">
                        <input type="number"  class="form-control" name="pending" [value]="pending" [(ngModel)]=objectToModify.pending>
                </div>
         </div>
                 <div class="text-center form-group mt-3">
                     <button class="btn btn-dark" type="submit">Save</button>
                </div>
        </form>
</div>


<table class="table table-responsive">
        <thead>
            <th>Roll No</th>
            <th>Name</th>
            <th>Username</th>
            <th>Total Fee</th>
            <th>Paid Fee</th>
            <th>Pending Fee</th>
        </thead>
        <tr *ngFor="let obj of data | search:searchTerm">
             <td>{{obj.no}}</td>
             <td>{{obj.name}}</td>
             <td>{{obj.username}}</td>
             <td>{{obj.total}}</td>
             <td>{{obj.paid}}</td>
             <td>{{obj.pending}}</td>
             <td>
                 <button (click)="deletingfee(obj.name)">Delete</button>
             </td>
             <td>
                <button (click)="editingfee(obj)">Edit</button>
            </td>  
        </tr>
    </table>