<h1 class="text-center mb-5 text-danger mt-5"> Add Student Profiles</h1>

<div class="container row" style="margin:auto;">

                <div class="col-md-2"></div>
                <div class="col-md-8">
                        

                    <form #ref="ngForm" (ngSubmit)="subData(ref.value)">  

                                <div class="row form-group">
                                                <div class="col-md-5 text-center">
                                                        <label>Student RollNo </label>
                                                </div>
                                                <div class="col-md-7">
                                                        <input type="number" class="form-control" #refname="ngModel" required name="rollno" ngModel>
                                                        <div *ngIf="refname.invalid&&(refname.dirty||refname.touched)" class="text-danger">
                                                                <div *ngIf="refname.errors.required">
                                                                     <p>*Rollno is required</p>
                                                                </div>
                                                           </div>
                                                
                                                </div>
                                                
                                
                                 </div>

                                 <div class="row form-group">
                                                <div class="col-md-5 text-center">
                                                        <label>Student Name </label>
                                                </div>
                                                <div class="col-md-7">
                                                        <input type="text"  class="form-control" #refname1="ngModel" required minlength="5" name="name" ngModel>
                                                        <div *ngIf="refname1.invalid&&(refname1.dirty||refname1.touched)" class="text-danger">
                                                            <div *ngIf="refname1.errors.required">
                                                                 <p>*Name is required</p>
                                                            </div>
                                                            <div *ngIf="refname1.errors.minlength">
                                                                    <p>*Name must be atleast 5chacters long</p>
                                                               </div>
                                                       </div>
                                                
                                             </div>
                                               
                                </div>

                                <div class="row form-group">
                                                <div class="col-md-5 text-center">
                                                        <label>User Name</label>
                                                </div>
                                                <div class="col-md-7">
                                                        <input type="text"  class="form-control"  #refname2="ngModel" required minlength="5" name="username" ngModel>
                                                        <div *ngIf="refname2.invalid&&(refname2.dirty||refname2.touched)" class="text-danger">
                                                                <div *ngIf="refname2.errors.required">
                                                                     <p>*Username is required</p>
                                                                </div>
                                                                <div *ngIf="refname2.errors.minlength">
                                                                        <p>*Username must be atleast 5chacters long</p>
                                                                   </div>
                                                           </div>
                                                
                                                </div>
                                               
                                 </div>

                                 <div class="row form-group">
                                                <div class="col-md-5 text-center">
                                                        <label>Password</label>
                                                </div>
                                                <div class="col-md-7">
                                                        <input type="password"  class="form-control" name="password" ngModel>
                                                </div>
                                 </div>

                                 <div class="row form-group">
                                                <div class="col-md-5 text-center">
                                                        <label>Email ID</label>
                                                </div>
                                                <div class="col-md-7">
                                                        <input type="email"  class="form-control" name="email"  #refname3="ngModel" required ngModel>
                                                        <div *ngIf="refname3.invalid&&(refname3.dirty||refname3.touched)" class="text-danger">
                                                                <div *ngIf="refname3.errors.required">
                                                                     <p>*Email is required</p>
                                                                </div>
                                                              
                                                           </div>
                                                </div>
                                               
                                </div>

                                <div class="row form-group">
                                                <div class="col-md-5 text-center">
                                                        <label>Gender</label>
                                                </div>
                                                <div class="col-md-7">
                                                <div class=" form-check form-control" *ngFor="let gender of genders" style="border:none;">
                                                        <label for={{gender}} class="form-check-label">
                                                             <input type="radio" name="gender" id={{gender}} [value]=gender class="form-check-input" ngModel>{{gender}}
                                                        </label>
                                                </div>
                                        </div>
                                </div>

                                <div class="row form-group">
                                                <div class="col-md-5 text-center">
                                                        <label>State</label>
                                                </div>
                                                 <div class="col-md-7 form-group" >
                                                        <select name="state" id="" ngModel class="form-control">
                                                       <option [value]="state" *ngFor="let state of states" >{{state}}</option>
                                                </select>
                                                </div>
                               </div>

                               <div class="row form-group">
                                        <div class="col-md-5 text-center">
                                                <label>Course</label>
                                        </div>
                                        <div class="col-md-7">
                                          <select name="course" id="" ngModel class="form-control">
                                   <option [value]="course" *ngFor="let course of courses">{{course}}</option>
                                           </select>  
                                        </div>
                             </div>

                             <div class="row form-group">
                                        <div class="col-md-5 text-center">
                                                <label>Branch</label>
                                        </div>
                                        <div class="col-md-7">
                                          <select name="branch" id="" ngModel class="form-control">
                                                <option [value]="branch" *ngFor="let branch of branches">{{branch}}</option>
                                           </select>  
                                        </div>
                             </div>
                             
                             <div class="form-group text-center">
                                        <button class="btn btn-danger" type="submit">Submit</button>
                                 
                             </div>


                    </form>
                </div>

                </div>
                <div class="col-md-2"></div>




<!--
     <div class="table-responsive">

                <table class="table">
                                <thead>
                                        <th>Roll No</th>
                                        <th>Student Name</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Email ID</th>
                                        <th>Gender</th>
                                        <th>State</th>
                                        
                                        <th>Course</th>
                                        <th>Branch</th>
                                </thead>
                                <tr *ngFor="let obj of data">
                                        <td>{{obj.rollno}}</td>
                                        <td>{{obj.name}}</td>
                                        <td>{{obj.username}}</td>
                                         <td>{{obj.password}}</td>
                                         <td>{{obj.email}}</td>
                                        <td>{{obj.gender}}</td>
                                        <td>{{obj.state}}</td>
                                      
                                        <td>{{obj.course}}</td>
                                        <td>{{obj.branch}}</td>
                                        <td>
                                        <button (click)="deleteRecord(obj.username)">Delete</button>
                                        </td>
                                        <td>
                                        <button (click)="editingData(obj)">Edit</button>
                                </td>
                                </tr>
                        </table>

        </div>                      

-->