
<div class="container">
        <div class="row mt-5">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <form  #ref="ngForm" (ngSubmit)="changepwd(ref.value)">
                        <div class="form-group">
                                <label for="">Enter User Username</label>
                                <input type="text" name="username"  class="form-control" ngModel>
                            </div>
                    <div class="form-group">
                        <label for="">Enter New Password</label>
                        <input type="text" name="password"  class="form-control" ngModel>
                    </div>
                
                <div class="text-center">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>