
<div class="container-fluid bg-info">
  <nav class="navbar navbar-expand-sm navbar-dark">
       <a class="navbar-brand" href="#">
               <img src="assets/student.jpg" style="width:40px;" class="img-fluid">
       </a>

      
       <button class="navbar-toggler my-auto" data-toggle="collapse" data-target="#a" type="button">
          <span class="navbar-toggler-icon"></span>
     </button>

       <div class="collapse navbar-collapse" id="a">
       <ul class="navbar-nav ml-auto">

          <li class="nav-item">
              <a class="nav-link text-light" routerLink="profilestatus">Profile</a>
            </li>

        <li class="nav-item">
          <a class="nav-link text-light" routerLink="marks">Marks</a>
        </li>
        <li class="nav-item">
           <a class="nav-link text-light" routerLink="fee">Fee Status</a>
         </li>
         
         <li class="nav-item">
           <a class="nav-link text-light" routerLink="attendance">Attendance</a>
         </li>
         <li class="nav-item">
            <a class="nav-link text-light" routerLink="notification">Notifications</a>
          </li>
        
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="addstudent">Add Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="leave">Leave</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-light" routerLink="logout">Logout</a>
        </li>
  </ul>
</div>
  </nav>
 
</div>

<div >
<router-outlet></router-outlet>
</div>

