<div class="container mt-5">

    <div class="row">
        <div class="col-md-3"></div>


        <div class="col-md-6">

          <form  #ref="ngForm" (ngSubmit)="changeStatus(ref.value)">
            
               <div class="form-group">
                   <label> Student RollNo</label>
                   <input type="text" class="form-control" name="rollno" ngModel #refname="ngModel" required>
                   <div *ngIf="refname.invalid&&(refname.dirty||refname.touched)" class="text-danger">
                    <div *ngIf="refname.errors.required">
                         <p>*Rollno is required</p>
                    </div>
               </div>
               </div>   
               <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" name="username" ngModel #refname1="ngModel" required minlength="5">
                    <div *ngIf="refname1.invalid&&(refname1.dirty||refname1.touched)" class="text-danger">
                        <div *ngIf="refname1.errors.required">
                             <p>*Username is required</p>
                        </div>
                        <div *ngIf="refname1.errors.minlength">
                                <p>*Username must be atleast 5chacters long</p>
                           </div>
                   </div>
                </div>
                
               <div class="form-group">
                    <label>Reason for leave</label>
                   <input type="text" name="leave" class="form-control mb-4" ngModel #refname2="ngModel" required minlength="5">
                   <div *ngIf="refname2.invalid&&(refname2.dirty||refname2.touched)" class="text-danger">
                    <div *ngIf="refname2.errors.required">
                         <p>*Reason is required</p>
                    </div>
                    <div *ngIf="refname2.errors.minlength">
                            <p>*Reason must be atleast 500chacters long</p>
                       </div>
               </div>
                   
                </div>
                
                <div class="row form-group">
                        <div class="col-md-4">
                                <label>From</label>
                                <input type="date" name="from" class="form-control mb-4" ngModel>   
                        </div>
                        <div class="col-md-4">
                            <label>To</label>
                            
                            <input type="date" name="to" class="form-control mb-4" ngModel>
                        </div>
                        <div class="col-md-4">
                            <label>No of days</label>
                                <input type="number" class="form-control" name="days" ngModel>
                         </div>
             </div>
          

                <div class="text-center mt-5">
                <button class="btn btn-info" type="submit">{{b?"Apply for leave":"request pending"}}</button>
                </div>
            </form>

        </div>
        
    
         <div class="col-md-3"></div>
    
    </div>
</div>
<div >
    <ul *ngFor="let obj of accept">
        <li>{{obj.message}}</li>
    </ul>
  </div>