



<div class="container">
        <h1 class="text-center mt-5 mb-5">Marks Details</h1>
    </div>
     <div class="container">
         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                   
                    <table class="table" *ngFor="let obj of y">
                            <tr class="form-group">
                                <td>Roll No</td>
                                <td>:</td>
                                <td>{{obj.no}}</td>
                            </tr>
                            <tr class="form-group">
                                    <td>Name</td>
                                    <td>:</td>
                                    <td>{{obj.name}}</td>
                            </tr>
                            <tr class="form-group">
                                <td>Username</td>
                                <td>:</td>
                                <td>{{obj.username}}</td>
                            </tr>
                            <tr class="form-group">
                                    <td>Course</td>
                                    <td>:</td>
                                    <td>{{obj.course}}</td>
                            </tr>
                            <tr class="form-group">
                                    <td>Branch</td>
                                    <td>:</td>
                                    <td>{{obj.branch}}</td>
                            </tr>
                            <tr class="form-group">
                                    <td>Total Marks</td>
                                    <td>:</td>
                                    <td>{{obj.total}}</td>
                            </tr>
                            <tr class="form-group">
                                    <td>Gained Marks</td>
                                    <td>:</td>
                                    <td>{{obj.gain}}</td>
                            </tr>
                    </table>
                   
<!--
                    <table class="table">
                            <thead>
                                    <th>Roll No</th>
                                    <th>Name</th>
                                    <th>Course</th>
                                    <th>Branch</th>
                                    <th>Total Marks</th>
                                    <th>Gained Marks</th>
                            </thead>
                            <tr *ngFor="let obj of y">
                                    <td>{{obj.no}}</td>
                                    <td>{{obj.name}}</td>
                                    <td>{{obj.course}}</td>
                                    <td>{{obj.branch}}</td>
                                    <td>{{obj.total}}</td>
                                    <td>{{obj.gain}}</td>
                            </tr>
                    </table>

                    -->
             </div>
             <div class="col-md-3"></div>
         </div>
           
        
    
     </div>