
<div class="row a" style="margin:auto;">
     <div class="col-md-4"></div>


     <div class="container ml-auto col-md-4 mt-5 mb-5 text-center">
          <input type="text" name="search" class="form-control" placeholder="Search by username/rollno/name" [(ngModel)]="searchTerm">
                
     </div>

     <div class="col-md-4"></div>
</div>




 <div class="container-fluid">
     <div style="margin:auto;">
        
         
                <h1 class="text-center mt-3 mb-5">Profile</h1>
                <!--
                <table class="table">
                        <tr class="form-group">
                            <td>Roll No:</td>
                            <td>{{i.no}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Student Name:</td>
                                <td>{{i.name}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Father Name:</td>
                                <td>{{i.father}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Mother Name:</td>
                                <td>{{i.mother}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Email ID:</td>
                                <td>{{i.email}}</td>
                        </tr>
                        <tr class="form-group">
                            <td>Gender:</td>
                            <td>{{i.gender}}</td>
                        </tr>
                        <tr class="form-group">
                            <td>State:</td>
                            <td>{{i.state}}</td>
                        </tr>
                        <tr class="form-group">
                            <td>Phone Number:</td>
                            <td>{{i.number}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Course:</td>
                                <td>{{i.course}}</td>
                        </tr>
                        <tr class="form-group">
                                <td>Branch:</td>
                                <td>{{i.branch}}</td>
                         </tr>
                       
                </table>
              


        -->


                <div *ngIf="b">
                                <form #ref=ngForm (ngSubmit)="onSubmit(ref.value)">
                                        <div class="row form-group">
                                            <div class="col-md-5 text-center">
                                                 <label for="">Roll No</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" name="rollno" class="form-control" [(ngModel)]=objectToModify.rollno readonly>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-5 text-center">   
                                                <label for="">Student Name</label>
                                            </div>  
                                            <div class="col-md-7">
                                                <input type="text" name="name" [(ngModel)]=objectToModify.name class="form-control">
                                             </div> 
                                        </div>
                                        <div class="row form-group">
                                              <div class="col-md-5 text-center">     
                                                <label for="">Username</label>
                                              </div>
                                              <div class="col-md-7">   
                                                <input type="text" name="username" class="form-control" [(ngModel)]=objectToModify.username readonly>
                                               </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-5 text-center">  
                                                <label for="">Password</label>

                                              </div>
                                              <div class="col-md-7">    
                                                <input type="password" name="password" class="form-control" [(ngModel)]=objectToModify.password>
                                               </div>
                                        </div>
                                        <div class="row form-group">
                                               <div class="col-md-5 text-center">
                                                     <label>Email ID</label>
                                                </div>
                                                <div class="col-md-7">
                                                     <input type="email"  name="email" class="form-control" [(ngModel)]=objectToModify.email>
                                                </div>    
                                       </div>
                                        
                                     <div class="row form-group">
                                           <div class="col-md-5 text-center">
                                                <label>Gender</label>
                                            </div>
                                           <div class="form-check col-md-7" *ngFor="let gender of genders">
                                                <label for={{gender}} class="form-check-label">
                                                     <input type="radio" name="gender" id={{gender}} [value]=gender 
                                                     class="form-check-input" [(ngModel)]=objectToModify.gender>{{gender}}
                                                </label>
                                          </div>
                                     </div>
                                    <div class="row form-group">
                                          <div class="col-md-5 text-center">
                                            <label>State</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select name="state" id="" [(ngModel)]=objectToModify.state >
                                           <option [value]="state" *ngFor="let state of states" >{{state}}</option>
                                           </select>
                                       </div>
                                   </div>
                                 
                                 <div class="row form-group">
                                           <div class="col-md-5 text-center">
                                                <label>Course</label>
                                           </div>        
                                          
                                            <div class="col-md-7">
                                              <select name="course" id="" [(ngModel)]=objectToModify.course >
                                <option [value]="course" *ngFor="let course of courses">{{course}}</option>
                                               </select>  
                                            </div>
                                 </div>
                                 <div class="row form-group">
                                            <div class="col-md-5 text-center">
                                                    <label>Branch</label>
                                            </div>
                                            <div class="col-md-7">
                                              <select name="branch" id="" [(ngModel)]=objectToModify.branch >
                                                    <option [value]="branch" *ngFor="let branch of branches">{{branch}}</option>
                                               </select>  
                                            </div>
                                 </div>
                                          <div class="text-center form-group">
                                             <button class="btn btn-dark" type="submit">Save</button>
                                        </div>
                                </form>
                        </div>
                        
                        


  





                <table class="table table-responsive">
                    <thead>
                            <th>Roll No</th>
                            <th>Student Name</th>
                            <th>Username</th>
                            
                            <th>Email ID</th>
                            <th>Gender</th>
                            <th>State</th>
                           
                            <th>Course</th>
                            <th>Branch</th>
                    </thead>
                    <tr *ngFor="let obj of j | search:searchTerm">
                            <td>{{obj.rollno}}</td>
                            <td>{{obj.name}}</td>
                            <td>{{obj.username}}</td>
                            
                            <td>{{obj.email}}</td>
                            <td>{{obj.gender}}</td>
                            <td>{{obj.state}}</td>
                           
                            <td>{{obj.course}}</td>
                            <td>{{obj.branch}}</td>
                            <td>
                                <button (click)="deleteRecord(obj.username)">Delete</button>
                            </td>
                                       
                            <td>
                                        
                                <button (click)="editingData(obj)">Edit</button>
                            </td>
                    </tr>
            </table>
         
        
     </div>
       
   

 </div> 