@media only screen and (max-width:500px)
{
    .a
    {
        margin: auto;
    }
    
    
}

@media only screen and (min-width:1200px)
{
  .table-responsive{
  
    display: inline-table!important;
  }
}

