
       
              <div class="container-fluid bg-info">
                     <nav class="navbar navbar-expand-sm navbar-dark">
                          <a class="navbar-brand" href="#">
                                  <img src="assets/student.jpg" style="width:40px;">
                          </a>

                          <button class="navbar-toggler my-auto" data-toggle="collapse" data-target="#b" type="button">
                                   <span class="navbar-toggler-icon"></span>
                              </button>
                         
               <div class="collapse navbar-collapse" id="b">

                          <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                            <a class="nav-link text-light" routerLink="profile">Profile</a>
                          </li>
                          <li class="nav-item">
                                 <a class="nav-link text-light" routerLink="marksdetails">Marks</a>
                          </li>
                          <li class="nav-item">
                                 <a class="nav-link text-light" routerLink="feestatus">Fee Status</a>
                          </li>
                          <li class="nav-item">
                                 <a class="nav-link text-light" routerLink="attendancestatus">Attendance</a>
                          </li>
                          <li class="nav-item">
                                   <a class="nav-link text-light" routerLink="notifications">Notifications</a>
                            </li>
                            <li class="nav-item">
                                   <a class="nav-link text-light" routerLink="leavestatus">Leave Status</a>
                            </li>
                          <li class="nav-item">
                                   <a class="nav-link text-light" routerLink="logout">Logout</a>
                     </li>
                     </ul>
              </div>
                     </nav>
                    
                 </div>
    
       <div >
                <router-outlet></router-outlet>
       </div>
    


   