<div class="container">

    <!--
<table>
      <thead class="mt-5">
          <th>Notifications</th>
      </thead>
       <tr *ngFor="let i of l">
            <td>{{i.notifications}}</td>
       </tr>
</table>
-->


<h3 class="text-center mt-5 mt-3">Notifications</h3>
<ul>
    <li *ngFor="let i of l">
        {{i.notifications}}
    </li>
</ul>
    

</div>
