


 <div class="container">
        <h1 class="text-center mt-5 mb-5">Fee Details</h1>
    </div>
     <div class="container">
         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                 
                    <table class="table" *ngFor="let obj of data">
                            <tr class="form-group">
                                <td>Roll No</td>
                                <td>:</td>
                                <td>{{obj.no}}</td>
                            </tr>
                            <tr class="form-group">
                                    <td>Name</td>
                                    <td>:</td>
                                    <td>{{obj.name}}</td>
                            </tr>
                            <tr class="form-group">
                                <td>Userame</td>
                                <td>:</td>
                                <td>{{obj.username}}</td>
                            </tr>
                            <tr class="form-group">
                                    <td>Total Fee</td>
                                    <td>:</td>
                                    <td>{{obj.total}}</td>
                            </tr>
                            <tr class="form-group">
                                    <td>Paid Fee</td>
                                    <td>:</td>
                                    <td>{{obj.paid}}</td>
                            </tr>
                            <tr class="form-group">
                                    <td>Pending Fee</td>
                                    <td>:</td>
                                    <td>{{obj.pending}}</td>
                            </tr>
                           
                    </table>
                    

<!--
                    <table class="table">
                        <thead>
                            <th>Roll No</th>
                            <th>Name</th>
                            <th>Total Fee</th>
                            <th>Paid Fee</th>
                            <th>Pending Fee</th>
                        </thead>
                        <tr *ngFor="let obj of data">
                             <td>{{obj.no}}</td>
                             <td>{{obj.name}}</td>
                             <td>{{obj.total}}</td>
                             <td>{{obj.paid}}</td>
                             <td>{{obj.pending}}</td>
                        </tr>
                    </table>
                
                -->
             </div>
             <div class="col-md-3"></div>
         </div>
           
        
    
     </div>