.a
{
    background-color: grey;
}
.b
{
    text-decoration: none;
    color: light
}

.y
{
    list-style: none;
    color: aliceblue;
}
.section-overlay
{
    
    background-image: url(../../../assets/student6.jpg);
}
.section-overlay:before {
    position: absolute;
    content: '';
    
    left: 0;
    width: 100%;
    height: 32%;
    background-color: rgb(0, 29, 74);
    opacity: 0.87;
}
.carousel-item .img-fluid
{
    height: 700px;
}



@media only screen and (max-width:500px)
{
    .section-overlay:before {
        height: 75%;
    } 
    .carousel-item .img-fluid
    {
        width: 500px;
        height: 500px;
    }
    .x
    {
        text-align: center;
    }
    .pb-4
    {
        text-align: center;
    }
  
}