<div style="margin: auto;">


<div id="demo" class="carousel slide form-group" data-ride="carousel" style="margin: auto;">

    
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/student3.jpg" width="100%" height="400px" class="img-fluid">
      </div>
      <div class="carousel-item">
        <img src="assets/student1.jpg" width="100%" height="400px" class="img-fluid">
      </div>
      <div class="carousel-item">
        <img src="assets/student9.jpg" width="100%" height="400px" class="img-fluid">
      </div>
    </div>
  
   
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>

  <h2 class="text-center text-primary mt-4">About Us</h2>
  <div class="row form-group mt-4" style="margin: auto;">
        <div class="col-md-1"></div>
        <div class="col-md-5 mt-5">
          <p>A student is a person who is learning something. Students can be children, teenagers, or adults who are going to school, but it may also be other people who are learning, such as in college or university. A younger student is often called a pupil. Usually, students will learn from a teacher or a lecturer if at university. They also do much reading. A student can also be a person studying for a specific profession. Where the teaching is called "training" the student may be called a "trainee".</p>
        </div>
        <div class="co-md-5">
            <img src="../../../assets/student7.jpg" alt="" width="500px" class="img-fluid">
        </div>
        
        <div class="col-md-1"></div>
    
  </div>

  <h2 class="text-center text-primary mb-5">Why To Choose Us</h2>
  <div class=" row form-group" style="margin: auto;">
    <div class="col-md-1"></div>
      <div class="col-md-5"> 
        <img src="assets/student4.jpg" alt="a" width="100%" height="300px" class="img-fluid">
      </div>
      <div class="col-md-5"> 
           <p>  Student management system is that as a school you are able to keep proper track of data related to students. This includes areas such as fees being paid by students, examination records of the students, transport facilities being provided by the school and availed by the students, and usage of libraries and other school facilities by the students. 

            </p>
            <ul>
                <li> Better performance by the students</li>
                <li>Simplifying and streamlining all the tasks</li>
                <li>Better communication</li>
                <li>Easy access to all</li>
                <li>Managing the timetables</li>
                <li>Complete tracking of the students</li>
                
            </ul>
        </div>
        <div class="col-md-1"></div>
  </div>

  <div class="row a mt-5 mb-3 section-overlay" style="margin: auto;">
    <div class="col-md-1"></div>
      <div class="col-md-3"> 
           
         <h4 class="text-white pt-4 pb-4">About</h4>
         <p class="text-light">Student management system is that as a school you are able to keep proper track of data related to students.</p>
      </div>
      <div class="col-md-4"> 
           <h4 class="text-white pt-4 pb-4 text-center">Quick Links</h4>
           <ul class="text-center b">
               <li class="y">
                   <a href="#" class="text-white">Home</a>
               </li>
               <li class="y">
                   <a href="#" class="text-white"> About Us</a>
               </li>
               
               <li class="y">
                   <a href="#" class="text-white">Login</a>
               </li>
           </ul>
        </div>
        <div class="col-md-4 form-group x"> 

            <h4 class="text-white pt-4 pb-4">Contact Us</h4>
            <p class="text-light">(+91) 9876543210</p>
            <p class="text-light">student@gmail.com</p>
            <p class="text-light">No-121,KPHB,Kukutpally,Hyderabad</p>
            
            <i class="fa fa-facebook-official pr-3 text-light" aria-hidden="true"></i>
            <i class="fa fa-twitter-square pr-3 text-light" aria-hidden="true"></i>
            <i class="fa fa-google-plus pr-3 text-light" aria-hidden="true"></i>
            <i class="fa fa-linkedin pr-3 text-light" aria-hidden="true"></i>
        
        </div>
        
  </div>
  <div>
    <p class="text-center"><b>© 2019. All Rights Reserved, by Student Management System</b></p>
  </div>

</div>
