
 <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 mt-5">
   
               <img src="/assets/student6.jpg" alt="" width="200px" height="100px">
            </div>

            
            <div class="col-md-8">

                   <h1 class="text-center mt-5 mb-5">Profile</h1>

                     
                   <table class="table" *ngFor="let obj of data">
                           <tr class="form-group">
                               <td>Roll No</td>
                               <td>:</td>
                               <td>{{obj.rollno}}</td>
                           </tr>
                           <tr class="form-group">
                                   <td>Student Name</td>
                                   <td>:</td>
                                   <td>{{obj.name}}</td>
                           </tr>
                          
                           <tr class="form-group">
                                <td>User Name</td>
                                <td>:</td>
                                <td>{{obj.username}}</td>
                           </tr>
                           
                           <tr class="form-group">
                                   <td>Email ID</td>
                                   <td>:</td>
                                   <td>{{obj.email}}</td>
                           </tr>
                           <tr class="form-group">
                               <td>Gender</td>
                               <td>:</td>
                               <td>{{obj.gender}}</td>
                           </tr>
                           <tr class="form-group">
                               <td>State</td>
                               <td>:</td>
                               <td>{{obj.state}}</td>
                           </tr>
                         
                           <tr class="form-group">
                                   <td>Course</td>
                                   <td>:</td>
                                   <td>{{obj.course}}</td>
                           </tr>
                           <tr class="form-group">
                                   <td>Branch</td>
                                   <td>:</td>
                                   <td>{{obj.branch}}</td>
                            </tr>
                          
                   </table>
                 
                      

                 <!--

                   <table class="table">
                           <thead>
                                   <th>Roll No</th>
                                   <th>Student Name</th>
                                   
                                   <th>User Name</th>
                                   <th>Password</th>
                                   <th>Email ID</th>
                                   <th>Gender</th>
                                   <th>State</th>
                                   
                                   <th>Course</th>
                                   <th>Branch</th>
                           </thead>
                           <tr *ngFor="let obj of data">
                                   <td>{{obj.rollno}}</td>
                                   <td>{{obj.name}}</td>
                                  
                                   <td>{{obj.username}}</td>
                                   <td>{{obj.password}}</td>
                                   <td>{{obj.email}}</td>
                                   <td>{{obj.gender}}</td>
                                   <td>{{obj.state}}</td>
                                  
                                   <td>{{obj.course}}</td>
                                   <td>{{obj.branch}}</td>
                           </tr>
                   </table>
                    -->
            </div>
            <div class="col-md-2">

            </div>
           
        </div>
          
       
   
    </div>