


  <table class="table mt-5 table-responsive">
    <thead>
      <th>Student Rollno</th>
      <th>User Name</th>
      <th>Reason for leave</th>
      <th>From </th>
      <th>To </th>
      <th>No of days </th>
      
    </thead>
    <tr *ngFor="let obj of d">
      <td>{{obj.rollno}}</td>
      <td>{{obj.username}}</td>
      <td>{{obj.leave}}</td>
      <td>{{obj.from}}</td>
      <td>{{obj.to}}</td>
      <td>{{obj.days}}</td>
      
       <td>
        <button class="btn btn-info" type="submit" (click)="acceptRequest(obj.username)">Accept</button>
        
      </td>
      <td>

      <button class="btn btn-info" type="submit" (click)="rejectRequest(obj.username)">Reject</button>
    </td>
    </tr>
  </table>
   
  
<!--

<div class="row mt-5">
    <div class="col-md-3"></div>
   
    <div class="col-md-6">
  

    <table class="table" *ngFor="let obj of d">
    <tr class="form-group">
        <td>Reason for leave</td>
        <td>{{obj.leave}}</td>
    </tr>
    <tr class="form-group">
        <td>Student Rollno</td>
        <td>{{obj.rollno}}</td>
    </tr>
    <tr class="form-group">
        <td>User Name</td>
        <td>{{obj.username}}</td>
    </tr>
    <tr class="form-group">
            <td>From</td>
            <td>{{obj.from}}</td>
    </tr>
    <tr class="form-group">
        <td>To</td>
        <td>{{obj.to}}</td>
    </tr>
    <tr class="form-group">
            <td>No of days</td>
            <td>{{obj.days}}</td>
    </tr>
    </table>
  
     </div>
     <div class="col-md-3"></div>
</div>
 --> 