<div >
<div class=" form-group mb-5 c" style="background-image:url(assets/student5.jpg); height: 200px;" >

    <h1 class="text-center text-secondary pt-5 text-info">About Us</h1>
    
</div>
<div class="container" style="margin:auto;">
        <p>A student is a person who is learning something. Students can be children, teenagers, or adults who are going to school, but it may also be other people who are learning, such as in college or university. A younger student is often called a pupil. Usually, students will learn from a teacher or a lecturer if at university. They also do much reading. A student can also be a person studying for a specific profession. Where the teaching is called "training" the student may be called a "trainee".</p>
   <p >
           Students had to rank the above list in order of importance when choosing a university. The two reasons rated most important were high-quality teaching (30.0 per cent) and whether universities offered scholarships (29.9 per cent). 

           The position of a university within rankings came third, with 23.5 per cent of students stating that this was the most important factor. 
           
           Something that appeared to have the least importance to prospective students was the opportunity to make friends with people from different countries, with just 10.3 per cent of students stating this as their number one reason for choosing a university. 
   </p>

  
</div>


<div class="row mt-5" style="margin:auto;">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <img src="assets/student8.jpg" alt="" width="100%" class="img-fluid">

    </div>
    <div class="col-md-6">
        <h2 class="title form-group text-info">Our Mission & Vision</h2>
        <span class="line bg-dark"></span>
         <div class="form-group">
          <h4  class="text-info">Vision</h4>
          <p>Transform the society through excellence in Education, Community empowerment and sustained Environmental protection.</p>
        </div> 
        <div class="form-group">
        <h4 class="text-info">Mission</h4>
         <ul>
                   <li>To achieve Academic excellence through innovative learning practices</li>
                   <li> To instill self confidence among rural students by supplementing with co-curricular and extra-curricular activities</li>
                   <li> To inculcate discipline and values among students</li>
                   <li> To establish centers for Institute Industry partnership</li>
                   <li> To extend financial assistance for the economically weaker sections</li>
                   <li> To create self employment opportunities and skill up gradation</li>
                   <li> To support environment friendly Green Practices</li>
                   <li> Creating innovation hubs</li>
         </ul>
        </div>
        <div class="form-group">
           <h4 class="text-info">Values</h4>
           <ul>
               <li> We strive for excellence in all that we do in order to model success for our students</li>
<li> We focus on students' success and satisfaction and meeting the needs of the community</li>
<li> We take pride in the quality of our organization and work, and we value, originality, integrity, consistency, and attention to detail</li>

<li> We set benchmarks and model high quality standards for students, faculty, staff, and community partners</li>
<li> We lay utmost importance on discipline, punctuality, personal values and healthy practices</li>
<li> We create an innovative environment for students and staff to develop an integrated personality</li>
<li> Inclusive community projects</li>
           </ul>
        </div>
    </div>

</div>


<div class="row a mt-5 mb-3 section-overlay" style="margin:auto;">
        <div class="col-md-1"></div>
        <div class="col-md-3"> 
                       
                <h4 class="text-white pt-4 pb-4">About</h4>
                <p class="text-light">Student management system is that as a school you are able to keep proper track of data related to students.</p>
        </div>
        <div class="col-md-4"> 
                <h4 class="text-white pt-4 pb-4 text-center">Quick Links</h4>
                <ul class="text-center b">
                    <li class="y">
                        <a href="#" class="text-white">Home</a>
                    </li>
                    <li class="y">
                        <a href="#" class="text-white"> About Us</a>
                    </li>
                    
                    <li class="y">
                        <a href="#" class="text-white">Login</a>
                    </li>
                </ul>
        </div>
        <div class="col-md-4 form-group x"> 
            
                <h4 class="text-white pt-4 pb-4">Contact Us</h4>
                <p class="text-light">(+91) 9876543210</p>
                <p class="text-light">student@gmail.com</p>
                <p class="text-light">No-121,KPHB,Kukutpally,Hyderabad</p>
                
                <i class="fa fa-facebook-official pr-3 text-light" aria-hidden="true"></i>
                <i class="fa fa-twitter-square pr-3 text-light" aria-hidden="true"></i>
                <i class="fa fa-google-plus pr-3 text-light" aria-hidden="true"></i>
                <i class="fa fa-linkedin pr-3 text-light" aria-hidden="true"></i>
            
      </div>
</div>


  <div style="margin:auto;">
    <p class="text-center"><b>© 2019. All Rights Reserved, by Student Management System</b></p>
  </div>
</div>  