.a
{
    background-color: grey;
}
.b
{
    text-decoration: none;
    color: light
}
.y
{
    list-style: none;
    color: aliceblue;
}
.pl-3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
}



@media only screen and (max-width:500px)
{
 .pl-3
 {
     display: none;
 }   
}