




<div class="container-fluid bg-info" >
    <nav class="navbar navbar-expand-sm navbar-dark" style="margin:auto;">
         <a class="navbar-brand" href="#">
                 <img src="assets/student.jpg" style="width:40px;">
                 <a href="#" class="pl-3">Student Management System</a>
         </a>

         <button class="navbar-toggler my-auto" data-toggle="collapse" data-target="#x" type="button">
              <span class="navbar-toggler-icon"></span>
         </button>
       <div class="collapse navbar-collapse" id="x">
         <ul class="navbar-nav ml-auto">
                 <li class="nav-item">
                   <a class="nav-link text-light" routerLink="index">Home</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link text-light" routerLink="about">About Us</a>
                 </li>
                 
                 <li class="nav-item">
                   <a class="nav-link text-light" routerLink="login">Login</a>
                 </li>
               </ul>
        </div>
    </nav>
   
</div>
<router-outlet></router-outlet> 