<div class="container">
        <h1 class="text-center mb-4 mt-4">Login</h1>
       <div class="row">
         <div class="col-md-4">
            
         </div>
         <div class="col-md-4 x">
             <form action="">
                    <div class="row form-group mt-4">
                        <div class="col-md-6">
            
                               <label class="text-white">UserName</label>
                       </div>
                       <div class="col-md-6">
                            <input type="text" class="form-control">
                         </div>
                    </div>
                       <div class="row form-group">
                            <div class="col-md-6">
                
                                   <label class="text-white">Password</label>
                           </div>
                           <div class="col-md-6">
                                  <input type="password" class="form-control">
                            </div>
                        </div>
                        
                   
                    <div class="text-center form-group">
                            <button class="btn btn-dark">Login</button>
                    </div>
            
        </form>
            
        </div>
        <div class="col-md-4">
    
        </div>
       </div>
       
    </div>